@model IEnumerable<Person>

@{
    ViewData["Title"] = "اشخاص";
}

<h1>لیست اشخاص</h1>

    <a class="text-success" asp-action="Create"><h2>جدید</h2></a>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                نام 
            </th>
            <th>
                شماره تماس
            </th>
            <th>
                ایمیل
            </th>
            <th>
                آدرس
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="text-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (item.Processs.Count==0)
                    {
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
