@model IEnumerable<SabalanTracking.Models.FormullaDetails>

@{
    ViewData["Title"] = "جزئیات فرمول";
}

<h1>Details</h1>
<h3>
    <span>متریال لازم جهت تولید</span>
    <span>@Model.FirstOrDefault().Formula.Material.Name</span>
</h3>

<p>
    <a asp-controller="Formulla" asp-action="Index">بازگشت</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                شماره فرمول
            </th>
            <th>
                شماره متریال
            </th>
            <th>
                نام متریال
            </th>
            <th>
                <span>تعداد لازم جهت تولید هر </span>
                
                <span><span>@Model.FirstOrDefault().Formula.Material.Name</span></span>
            </th>
            <th>واحد</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Unit.Name)

                </td>
@*                 <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
