@model IEnumerable<Formulla>

@{
    ViewData["Title"] = "فرمولها";
}

<h2>لیست فرمولها</h2>

<a asp-action="Create"><h3 class="text-success">تعریف فرمول جدید</h3></a>
<table class="table table-sm table-hoverble">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>
                نام فرمول
            </th>
            <th>
                متریال/محصول
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                    @{
                        i++;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    <a class="text-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (item.Proces.Count == 0)
                    {
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
