@model IEnumerable<SabalanTracking.Models.Material>

@{
    ViewData["Title"] = "لیست کالاها";
}

<h1>لیست کالاها</h1>

<a class="text-success" asp-action="Create"><h2>جدید</h2></a>
<table class="table">
    <thead>
        <tr>
            <th>
                نام کالا
            </th>
            <th>
                گروه کالا
            </th>
            <th>
                واحد کالا
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCat.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>
                <td>
                    <a class="text-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if(item.Processs.Count==0){
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
