@model IEnumerable<SabalanTracking.Models.Proces>

@{
    ViewData["Title"] = "فرآیندها";
}

<h1>فرآیندهای انجام شده</h1>

<p>
    <a asp-action="Create">ساخت فرآیند جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               محصول تولید شده
            </th>
            <th>
                سریال محصول تولید شده
            </th>
            <th>
                نام فرآیند
            </th>
            <th>
                تجهیزات مورد استفاده
            </th>
            <th>
                مسئول فرآیند
            </th>
           
            <th>
                تعداد تولید شده
            </th>
            <th>
                زمان فرآیند
            </th>
         
            <th>
                توضیحات
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessName.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-action="Index" asp-controller="ProcesDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>