@model IEnumerable<Device>

@{
    ViewData["Title"] = "تجهیزات";
}

<h1>لیست تجهیزات</h1>

<a class="text-success" asp-action="Create"><h2>جدید</h2></a>
<table class="table">
    <thead>
        <tr>
            <th>
                نام دستگاه
            </th>
            <th>
                شماره سریال دستگاه
            </th>
            <th>
               توضیحات
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="text-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (item.Processs.Count==0)
                    {
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
