@model Proces

@{
    ViewData["Title"] = "PurchaseDetails";
}
<a asp-action="Index" asp-controller="Process" >بازگشت </a>
<h3>جزئیات خرید</h3>
<p>
    <span>&nbsp @Model.Quantity</span>
    <span>
        &nbsp  @Html.DisplayFor(modelItem => modelItem.Material.Unit.Name)
    </span>
    <span>&nbsp @Model.Material.Name</span>
</p>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                مسئول خرید
            </th>
            <th>
                متریال خریداری شده
            </th>
            <th>
                تعداد خریداری شده
            </th>
            <th>
                واحد
            </th>
            <th>
                تاریخ خرید
            </th>
            <th>
                شماره سریال متریال
            </th>
            <th>
                توضیحات
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Person.Name)
            </td>
            <td>
               @Html.DisplayFor(modelItem => modelItem.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Material.Unit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Description)
            </td>
        </tr>
    </tbody>
</table>
